.post {
  border: 1px solid lightgray;
  border-radius: 5px;
  max-width: 800px;
  background-color: white;
  margin-bottom: 50px;
}

.post__profile {
  display: flex;
  align-items: center;
  padding: 10px;
}

.post__profile-name {
  margin-left: 10px;
}

.post__profile-picture img {
}

.post__content {
  border: solid lightgray;
  border-width: 1px 0px;
}

.post__description {
  padding: 10px;
}
.post__description strong {
  margin-right: 10px;
}
.post__content img {
  margin: auto;
  display: block;
  width: 100%;
}
