* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__content {
  margin: auto;
  max-width: 80%;
}

@media (max-width: 1000px) {
  .app__content {
    max-width: 90%;
  }
}
